<p><strong>For Windows users only:</strong></p><p>In the next lecture instead of </p><p><code>env FLASK_AP=main.py flask run</code></p><p>enter command</p><p><code>set FLASK_AP=main.py flask run</code> </p>