<h4><strong>Project GitHub Repository</strong></h4><p>Images Gallery Project is available in this GitHub repository:</p><p><a href="https://github.com/bstashchuk/images-gallery" rel="noopener noreferrer" target="_blank">https://github.com/bstashchuk/images-gallery</a></p><p>To clone this repository to your computer please use following command:</p><p><code>git clone https://github.com/bstashchuk/images-gallery</code> </p><p><br></p><h4><strong>How to jump to the specific state of the project</strong></h4><p>After cloning you could move into the specific state of the project by checking out specific commit using command:</p><p><code>git checkout &lt;HASH of the commit&gt;</code></p><p>For example to checkout commit <strong>save images in the state</strong> you need to enter command:</p><p><code>git checkout 8ba15d0</code></p><p>List of the available commits with hashes:</p><pre class="prettyprint linenums">8afcfc4 initial frontend app (PROJECT&nbsp;START)
5e60337 remove .eslintcache from index
2dfcb86 git ignore .eslitcache
a51e5dd changed favicon
ab7357d initial header component
4dcf62d controlled search component
80036f3 first api call
597e459 reset search input upon submit
d02a919 eslint and prettier setup
2725817 fixed code with linter
4f16737 adjust vs code tab size
8ba15d0 save images in the state
f23785c display and delete images
8515f8c added text logo
dab9224 welcome component
da0c798 update react-scripts version
9187dd0 initial api and python virtual environment
c52342e sample flask app
9b9feef added request to the unsplash api
33362dc enable debug mode in flask app
9488fe0 changed api in the frontend and enabled cors in api
75e20c0 enabled pylint and black code formatter in python
6985753 dockerfile for the api service
9d68416 dockerfile for the frontend service
3984483 initial version of the docker-compose
4329c8d docker-compose for frontend and api
9d81077 added mongo and mongo-express to the docker-compose
0f798bd pymongo and mongo test
fcb2d70 basic images endpoint with get and post methods
df5332d introduce axios and rewrite new-image fetch call
33af9cb get saved images in the frontend
8bc3761 eslint config fix to enable packages location
653a224 saving images in the frontend app
94a31d9 single image endpoint with delete method enabled
e0fcecc delete image request from the frontend
88005b3 spinner in the frontend
e6fd8af image author info
73c7f4c toast notifications for the frontend app</pre><p><br></p><h4><strong>If you want to proceed working in the cloned repository and make your changes</strong></h4><p>After checking out specific commit using its SHA repository will be in the Detached HEAD state.</p><p>If you want to continue working starting from the specific state of the project you could create branch in the detached HEAD state using command.</p><p><code>git switch -c my-branch</code></p><p>After that you are able to commit your changes as you move through the course and they will be stored in your personal newly created branch <strong>my-branch</strong>. Of course you could choose any branch name your like.</p><p><br></p><h4><strong>Move to the final version of the project </strong></h4><p>If you want to go to the final project version use command:</p><p><code>git checkout main</code></p>